<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Create Sub Project</title>
</head>
<body>
<h1>Create a SubProject</h1>

<form th:action="@{/subProjects/saveSubProject}" th:object="${subProject}" method="post">

    <p><label for="subProjectName">SubProject Name:</label>
        <input type="text" id="subProjectName" th:field="*{subProjectName}" required/></p>
    <br>

    <p><label for="startDate">Startdate:</label>
        <input type="date" id="startDate" th:field="*{startDate}" required></p>
    <br>

    <!-- End Date -->
    <p><label for="endDate">Enddate:</label>
        <input type="date" id="endDate" th:field="*{endDate}" required></p>
    <br>


    <p><label for="projectID">Manager ID:</label>
        <input type="text" id="projectID" name="projectID" th:value="${project.projectID}" readonly/></p>
    <br>

    <button type="submit">Save</button>

    <a th:href="@{/subProjects/readSubProjects}">
        <button type="button" class="button">Back to projects</button>
    </a>
</form>

</body>
</html>