<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Create Sub Project</title>
    <head>
        <title>Create SubProject</title>
    </head>
<body>
<div class="container">
<h1>Create subproject for Project ID: <span th:text="${projectID}"></span></h1>
<form th:action="@{/subProjects/saveSubProject}" method="post">

    <input type="hidden" name="projectID" th:value="${projectID}">

    <label for="subProjectName">SubProject Name:</label>
    <input type="text" id="subProjectName" name="subProjectName" required>
    <br>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" required>
    <br>
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" required>
    <br>
    <button type="submit">Save</button>
    <a th:href="@{'/subProjects/readSubProjects/' + ${projectID}}">
        <button type="button" class="button">Back</button>
    </a>
</form>
</div>
</body>
</html>