<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Create Task</title>
    <head>
        <title>Create Task</title>
    </head>
<body>
<div class="container">
<h1>Create Task for Subproject ID: <span th:text="${subProjectID}"></span></h1>
<form th:action="@{/tasks/saveTask}" method="post">

    <input type="hidden" name="subProjectID" th:value="${subProjectID}">

    <label for="taskName">Task Name:</label>
    <input type="text" id="taskName" name="taskName" required>
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>
    <br>
    <label for="assignedEmployeeID">Assigned employee:</label>
    <input type="number" id="assignedEmployeeID" name="assignedEmployeeID" required>
    <br>
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" required>
    <br>
    <label for="urgency">Urgency:</label>
    <input type="text" id="urgency" name="urgency" required>
    <br>
    <label for="estimatedTime">Estimated Time:</label>
    <input type="number" id="estimatedTime" name="estimatedTime" required>
    <br>
    <label for="actualTime">Actual Time:</label>
    <input type="number" id="actualTime" name="actualTime" required>
    <br>
    <button type="submit">Create</button>
    <a th:href="@{/tasks/readTasks/{subProjectID}(subProjectID=${subProjectID})}">
        <button type="button" class="button">Cancel</button>
    </a>
</form>
</body>
</html>