<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Edit Project</title>
</head>
<body>
<div class="edit">
    <form action="/projects/edit" method="post" class="form-container">
        <!-- Hidden input for wish ID -->
        <input type="hidden" id="projectID" th:name="projectID" th:value="${project.getProjectID()}">
        <!-- Name Field -->
        <div class="form-group">
            <label for="projectName"> Name: </label>
            <input type="text" id="projectName" th:name="name" th:value="${project.projectName}" required>
        </div>
        <!-- Startdate Field -->
        <div class="form-group">
            <label for="startDate"> Startdate: </label>
            <input type="date" id="startDate" th:name="startDate" th:value="${project.getStartDate()}" required>
        </div>
        <!-- EndDate-->
        <div class="form-group">
            <label for="endDate"> EndDate: </label>
            <input type="date" id="endDate" th:name="endDate" th:value="${project.getEndDate()}" required>
        </div>
        <!-- Employee -->
        <div class="form-group">
            <label for="employeeID"> Employee ID: </label>
            <input type="number" id="employeeID" th:name="emplyeeID" th:value="${project.getEmployeeID()}" required>
        </div>
        <!-- ProjectManager -->
        <div class="form-group">
            <label for="projectManagerID"> Manager ID: </label>
            <input type="number" id="projectManagerID" th:name="projectManagerID" th:value="${project.getProjectManagerID()}">
        </div>
        <div class="cw">
            <button type="submit">Update wish</button>
        </div>

    </form>
</div>
</body>
</html>
