<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Logged in</title>
</head>
<body>
<div class="container">

<h1>Logged in</h1>

<table>
    <tr>
        <td>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" th:value="${user.employeeID}" readonly>
        </td>
        <br>
        <td>
            <label for="name">User:</label>
            <input type="text" id="name" name="name" th:value="${user.username}" readonly>
        </td>
    </tr>
</table>

<a th:href="@{'/projects/readProjects'}">
<button type="button" >See projects</button>
</a>

</body>
</html>