<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
  <link th:href="@{/style.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Read Sub Projects</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Project Manager</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="subProject : ${subProject}">
    <td>
      <a th:href="@{'/tasks/readTasks/' + ${subProject.subProjectName}}">
        <span th:text="${subProject.subProjectName}"></span>
      </a></td>
    <td><span th:text="*{subProject.getStartDate()}"> Start Date </span></td>
    <td><span th:text="*{subProject.getEndDate()}"> End Date </span></td>
    <td><span th:text="*{subProject.projectID}"> Project ID </span></td>
    <td>
      <a th:href="@{'/subProjects/' + *{subProject.getSubProjectID()} + '/edit'}">
        <input type="button" class="edit-button" value="Edit">
      </a>
    </td>
    <td>
      <form th:action="@{/subProjects/delete/{id}(id=${subProjects.getSubProjectID()})}" method="post">
        <button type="submit" class="delete-button">Delete</button>
      </form></td>
  </tr>
  </tbody>
</table>
<a th:href="@{'/subProjects' + '/createSubProjects(projectID=${project.projectID})'}">
  <input type="button" value="Create new Project">
</a>
</div>
</body>
</html>