<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Read Tasks </title>
</head>
<body>
<h1>Task for Subproject ID: <span th:text="${subProjectID}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Assigned EmployeeID</th>
        <th>Status</th>
        <th>Urgency</th>
        <th>Estimated Time</th>
        <th>Actual Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${task}">
        <td>
            <span th:text="${task.taskName}"></span></td>
        <td><span th:text="${task.description}"></span></td>
        <td><span th:text="${task.assignedEmployeeID}"></span></td>
        <td><span th:text="${task.status}"></span></td>
        <td><span th:text="${task.urgency}"></span></td>
        <td><span th:text="${task.estimatedTime}"></span></td>
        <td><span th:text="${task.actualTime}"></span></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{'/tasks/createTask/' + ${subProjectID}}">
    <input type="button" value="Create task">
</a>
</body>
</html>