<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Read Projects</title>
</head>
<body>
<h1>Projects</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Project Manager</th>
            <th>Total Estimated Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td>
                <a th:href="@{'/subProjects/readSubProjects/' + ${project.getProjectID()}}">
                    <span th:text="${project.projectName}"></span>
                </a></td>
            <td><span th:text="*{project.getStartDate()}"> Start Date </span></td>
            <td><span th:text="*{project.getEndDate()}"> End Date </span></td>
            <td><span th:text="*{project.projectManagerID}"> Project Manager </span></td>
            <td><span th:text="*{project.totalEstimatedTimeProject}"> Total Estimated Time </span></td>
            <td>
                <a th:href="@{'/projects/updateProject/' + ${project.projectID}}">
                    <input type="button" class="edit-button" value="Edit">
                </a>
            </td>
            <td>
                <form th:action="@{/projects/delete/{projectID}(projectID=${project.projectID})}" method="post">
                    <button type="submit" class="delete-button" onclick="confirmDelete()">Delete</button>
                </form>
            </td>
                <script>
                    function confirmDelete() {
                        const confirmation = confirm("Deleting this project will delete all related subprojects and tasks. Are you sure?");
                        if (confirmation) {
                            document.getElementById("deleteForm").submit();
                        }
                    }
                </script>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/projects' + '/create'}">
        <input type="button" value="Create new project">
    </a>
    <br>
    <a th:href="@{'/logout'}">
        <input type="button" value="Logout">
    </a>
</div>
</body>
</html>