<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Edit Project</title>
</head>
<body>
<h1> Update the subproject: <span th:text="${subProjectID}"></span></h1>
    <form th:action="@{/subProjects/updateSubProject}" method="post" class="form-container">
        <input type="hidden" name="subProjectID" th:value="${subProject.subProjectID}">

        <p><label for="subProjectName"> SubProject Name:</label>
            <input type="text" id="subProjectName"  th:name="${subProjectID}" th:value="${subProject.subProjectName}" required/></p>
        <br>
        <div class="form-group">
            <label for="startDate"> Startdate: </label>
            <input type="date" id="startDate" th:name="startDate" th:value="${subProject.getStartDate()}" required>
        </div>
        <!-- EndDate-->
        <div class="form-group">
            <label for="endDate"> EndDate: </label>
            <input type="date" id="endDate" th:name="endDate" th:value="${subProject.getEndDate()}" required>
        </div>
        <div class="cw">
            <button type="submit">Update wish</button>
        </div>


    </form>
</body>
</html>
